@import "../../styles/variables.scss";

.downloadButton {
    border-radius: 3rem;
    margin-top: 1rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: $darkBlue;
    border: 4px solid $darkBlue;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    &:focus {
        outline: none;
        border: 4px solid $orange;
        transition: 0.3s ease-in-out all;
    }
}